a {
  color: #9ebfb9;
}
.btn.focus, .btn:focus, .btn:hover {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

.knowprocess-inverse-tile {
  color: #242d36;
  background-color: #9ebfb9 /* secondary blue */;
}
.knowprocess-inverse-tile a {
  color: #242d36;
}

.knowprocess-tile {
  color: #9ebfb9 /* secondary blue */;
  background-color: #242d36; /* primary blue */;
}
.knowprocess-tile h2 {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
} 
.onedecision-tile {
  color: #9ebfb9 /* secondary blue */;
  background-color: #647276;
}
.onedecision-tile img {
  margin-top: -0.5rem;
}
.tile h2 {
  text-transform: uppercase;
}
.tile h2.has-img {
  height:70px;
  background-color:white;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:5px;
}
.tile h2.has-img img {
  margin-left: 10px;
}
.tile .tile-bottom {
  position: absolute;
  bottom: 1rem;
}
.tile h3 {
  font-size: 1.8rem;
}

.empty-tile {
  color: black;
  background-color: #dedede;
}

.omny-tile {
  color: #ccc;
  background-color: #0e99cd;
}
.omny-tile h2 { 
  height:60px;
  background-color:white;
  padding:10px 30px 10px 30px;
  border-radius:5px;
} 
.omny-tile img { 
  height: 50px;
  position: relative;
  top: -5px;
}
.omny-emphasis {
  color: #ff6c06;
  font-style: normal;
}

.onedecision-tile h3 {
  color: #fff;
}

.syncapt-tile {
  color: #0B527E;
  background-color: #799b2f;
}
.syncapt-tile h2 { 
  height:60px;
  background-color:white;
  padding:10px 30px 10px 30px;
  border-radius:5px;
} 
.syncapt-tile h3 {
  font-size: 22px;
}
.syncapt-tile img { 
  height:40px;
}
.syncapt-emphasis {
  color: #beeb5b;
  font-style: normal;
}
.srp-tile {
  color: #9ebfb9;
  background-color: #97150c;
}
.srp-tile em {
  color:#dcab2c;
}
.srp-tile h2 {
  color: #0a4165;
  font-size: 1.9rem;
  padding-left:10px;
}
.srp-tile h3 {
  font-size: 20px;
}
.trakeo-tile {
  color: #0060ad;
  background-color: #ec9300;
}
.trakeo-tile h2 {
  height:70px;background-color:white;padding:5px;border-radius:5px;
}
.trakeo-tile h3 {
  font-size: 22px;
}

.trakeo-tile em {
  color: #fadd88;
  font-style: normal;
}

